---
permalink: "/index.html"
layout: default
---

<div id="intro">
<h2>Hear, O Internet.</h2>

{% for line in site.data.preamble %}
{{ line | markdownify }}
{% endfor %}

<div class="authors">
  {% for author in site.authors %}
  <div id="author">{{ author.name }}</div>
  {% endfor %}
</div>

<span style="font-size: 0.8em">{{ site.publication_date}}</span>

</div><!-- #intro -->

{% assign cluenum = 1 %}
{% for chapter in site.data.clues %}

<h3>{{ chapter.title }}</h3>

<ol class="subheads">
  {% for subhead in chapter.subheads %}
    <li class="subhead" id="{{ subhead.title | slugify }}">{{ subhead.title }}
      <ol class="clues" start="{{ cluenum }}">
        {% for clue in subhead.clues %}
          <li class="clue" id="{{ cluenum }}">
            {{ clue | markdownify }}
            <div class="embeddedlink" id="embed{{ cluenum }}">
              <a href="{{ site.url }}/#{{ cluenum }}">{{ site.url }}/#{{ cluenum }}</a><br />
              Copy and paste this text to embed the clue:
              <textarea class="embeddedtextarea">New Clue #{{ cluenum }}: {{ clue | mardownify }}<br />
                &mdash; <a href="{{ site.url }}/#{{ cluenum }}">New Clues</a>
              </textarea>
            </div>
          </li>
          {% assign cluenum = cluenum | plus:1 %}
        {% endfor %}
      </ol><!-- clues -->
    </li><!-- subhead -->
  {% endfor %}
</ol><!-- subheads -->
{% endfor %}

<p> &nbsp; </p>
<p class="byline"> &nbsp; </p>
<br /><br /><br /><br />

<div class="endnote">
  {% capture endnote %}{% include endnote.md %}{% endcapture %}
  {{ endnote | markdownify }}
</div><!-- endnote -->
